{% extends "layout.html" %}
{% block contents_wrap %}
    <div class="container form-wrap">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-5 form-box">
                <div class="panel panel-default">
                    {% from "security/_macros.html" import render_field_with_errors, render_field %}
                    {% include "security/_messages.html" %}
                    <h2 class="security-heading">{% trans %}Password Reset{% endtrans %}</h2>
                    <div class="panel-body">
                        <span>Please provide the correct email.<br/>
                        We will send an instruction to your email.</span>
                        <form action="{{ url_for_security('forgot_password') }}" method="POST" name="forgot_password_form" class="form-horizontal kamper-form">
                            <div class="form-group">
                                <div class="col-sm-12 col-xs-12 ">


                                    {{ forgot_password_form.hidden_tag()}}
                                    {{ render_field_with_errors(forgot_password_form.email,class='form-control') }}
                                    {#                                    {{ render_field(forgot_password_form.submit) }}#}



                                    <button class="btn btn-primary btn-block" type="submit"> {% trans %}Send email{% endtrans %}</button>

                                </div>
                            </div>
                        </form>

                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}