{% extends "layout.html" %}
{% block contents_wrap %}

        <div class="container">

            <div class="footer_privacypolicy ">


                <span class="footer_heading same-font">KAMPER KOREA INC. PRIVACY POLICY</span>

                <p>
                    <span class="footer_title">SECTION 1. COLLECTING AND USING YOUR INFORMATION</span>
                    Purpose of collecting personal information is to provide a customized services for users. 

                    A. KAMPER  has collected only the minimum information necessary to perform the essential functions of the service at the time of the initial membership registration. However we may collect additional information on the use of the services such as product delivery, refund and  etc. 

                    B. We do not provide or share your personal information to a third party without your consent.

                    C. KAMPER will collect your telephone number, contact information, username (nickname), email address. You may choose to provide us with your birthday, hometown, age, nationality, college information, gender, user ID, photos (including meta-information), and location information. Device-specific information (such as your operating system, screen size and unique device identifiers), IP address, cookies, date of visit, record of illegitimate use, service use records, etc. can be created automatically and collected in the course of service use or business process.
                    KAMPER will also collect shipping information to ship your order. In addition to the above information, KAMPER may collect your credit card information, carrier information, gift certificate number or other information required for payment processing when you use paid services. KAMPER will inform you of the personal information we collect to which you must consent in order to use the Service.

                <p>
                    <span class="footer_title"> SECTION 2 SHARING YOUR PERSONAL INFORMATION TO THIRD PARTY</span>
                    For any Services that are linked to a third-party service, KAMPER may provide your personal information to such third party with your consent within the scope necessary for your use of the Services.

                <p>
                    <span class="footer_title">SECTION 3. ENTRUST A THRID PARTY WITH THE HANDLING OF YOUR PERSONAL INFORMATION </span>
                    KAMPER may delegate the handling of your personal information to third parties when it is necessary to ensure seamless Services. Please refer to the following list for more information on the Service Providers and the services provided by the Service Providers:

                <hr>
                SERVICE PROVIDER : HANJIN.INC <Br/>
                PURPOSE : LOGISTIC SERVICE <Br/>
                TERM OF RETENTION AND USE : UNTIL YOU UNREGISTER FROM THE SERVICES OR THE DELEGATION AGREEMENT WITH THE SERVICE PROVIDER IS TERMINATED 

                <hr>
                SERVICE PROVIDER : EG MOBILE<Br/>
                PURPOSE : SIMCARDS<Br/>
                TERM OF RETENTION AND USE : UNTIL YOU UNREGISTER FROM THE SERVICES OR THE DELEGATION AGREEMENT WITH THE SERVICE PROVIDER IS TERMINATED 


                <hr>
                SERVICE PROVIDER : EVENTS AND PROMOTIONS<Br/>
                PURPOSE : EVENTS AND PROMOTIONS<Br/>
                TERM OF RETENTION AND USE : UNTIL YOU UNREGISTER FROM THE SERVICES OR THE DELEGATION AGREEMENT WITH THE SERVICE PROVIDER IS TERMINATED 
                <hr>

                <p>
                    <span class="footer_title"> SECTION 4. DURATION OF RETENTION AND USE OF PERSONAL INFORMATION </span>
                    DESTRUCTION 
                    KAMPER can utilize your personal information from registration till termination of our service. If user request to destroy the information, it will be discarded with no delay.
                <p>
                    <span class="footer_title"> SECTION 5. COOKIE</span>
                    In order to provide you with customized Services, KAMPER uses cookies, which are saved on your personal computer. When you visit a website, cookies are accessed by the server to ensure that your preferences are maintained, which helps you be more efficient. Moreover, cookies tell us how often your visit the website, how you use the website and what information interests you. In this way, we can provide the Services optimized for your needs. 
                    You have an option to enable or disable cookies. You may configure your browser to accept all cookies, get an alert before accepting cookies, or disable all cookies. Please bear in mind that you will not be able to access some of the Services requiring a login process if you disable cookies.

                <p>
                    <span class="footer_title">SECTION 6. USER’S AUTHORITY</span>
                    You may review or change your personal information at any time, and you may also request to withdraw your consent to KAMPER’s collection and use of your personal information or to unregister from the Services. To be more specific, you may change your personal information by changing the relevant settings within the Services or unregister from the Services (or withdraw your consent) by simply clicking on “Unregister” in the Settings menu.
                <p>
                    <span class="footer_title"> SECTION 7. SITE LINK</span>
                    KAMPER can offer users links to other websites. However, “PRIVACY POLICY” does not apply to the act of collecting personal information from the linked websites.
                <p>
                    <span class="footer_title"> SECTION 8. RESPONSIBILITY AND PROTECTION OF PERSONAL INFORMATION </span>
                    KAMPER take the following technical / administrative protection measures to secure such loss, theft, leak, alteration or damage of your personal information. 

                    A. The password is encrypted in the user's personal information and is stored and managed by a one-way encryption.
                    Verification and modification of personal information is available only to the person who knows the password.

                    B. KAMPER's privacy information handler is limited to minimum number of personnel. Appropriate training for the privacy information handler is held. 
                <p>
                    <span class="footer_title">SECTION 9. PERSONAL INFORMATION PROTECTION MANAGER</span>
                    If you have any questions or enquiries about our privacy policy please contact us via email and we will get back to you as soon as possible.

                <ul>
                    <li><strong>FOR ENGLISH</strong> </li>
                    <li>• Name : Paige Choi</li>
                    <li>• Email : paige@kamper.co.kr </li>
                </ul>

{#                <ul>#}
{#                    <li><strong>FOR CHINESE</strong> </li>#}
{#                    <li>• Name : Crystal Kim</li>#}
{#                    <li>• Email : crystal@kamper.co.kr </li>#}
{#                </ul>#}

                </p>


                <p>
                    <span class="footer_title"> SECTION 10. NOTIFICATION DUTY</span>
                    Any changes to our Privacy Policy will be notified separately. KAMPER may amend this Privacy Policy to, for example,
                    reflect changes to the Services or applicable law. We will post a notice about any Privacy Policy changes,
                    and the updated Privacy Policy will become effective 7 days from the day on which the notice is posted.
                    However, if changes to our Privacy Policy materially affect your rights due to unavoidable reasons,
                    we will give you a 30-day prior notice.

                <ul>
                    <li>•	Date of Announcement: AUGUST 15, 2016</li>
                    <li>•	Date of Implementation: AUGUST 22, 2016 </li>
                </ul>


                <p><br/><br/></p>
                <p><hr/></p>

                <p>
                    <span class="footer_subheading"> THIS TRANSLATION IS PROVIDED JUST FOR YOUR REFERENCE AND IT IS NOT LEGALLY BINDING.</span>
                    <span class="footer_subheading"> FOR LEGAL BINDING YOU NEED TO READ THE KOREAN VERSION OF PRIVACY POLICY.  <a href="{{ url_for('web_common.privacypolicy_kr') }}">Korean Privacy Policy</a> </span>
                </p>

            </div>
        </div>


{% endblock %}

