{% extends "layout.html" %}
{% block contents_wrap %}

        <div class="container">

            <div class="footer_privacypolicy">


                <span class="footer_heading same-font"> KAMPER KOREA INC. COMPREHENSIVE TERMS & CONDITIONS</span>

                <span class="footer_title"> CHAPTER 1. DEFINITION</span>
                <span class="footer_title">ARTICLE 1. PURPOSE</span>

                <p>
                    Thank you for using services provided by KAMPER KOREA INC. (the “Company”).
                    The KAMPER KOREA Comprehensive Terms and Conditions (“Terms and Conditions”) are applied to every services
                    operated by KAMPER KOREA and are meant to help you get used to a wide range of online commerce and mobile services the “Company”
                    has to offer. These terms and Conditions outline general provisions including the rights, duties and responsibilities,
                    terms of use and procedures necessary in your use of services. Please take your time to read this carefully.
                    “services” mean any kinds of services provided by the “Company” under brand name of KAMPER.
                </p>



                <span class="footer_title">ARTICLE 2. Contents, Effect and Changes of the Terms and conditions</span>
                <p>
                    1. The “Company” will post these Terms and Conditions in an applicable Service or on the front page of
                    Services or send notifications thereof in other methods. The Terms and Conditions will have effect on anyone who agrees to them.
                    <br/>
                    <br/>2. Our Terms and Conditions may change, if necessary, to the extent that they do not violate relevant laws and regulations. In case of any changes, the Company, in principle, will notify or inform you about the changes at least 15 days prior to the effective date. If the changes inevitably affect you adversely, the Company will send email to the email address which you registered, send notifications to your phone or use any other reasonable means to notify or inform you about such changes at least 30 days prior to the effective date.
                    <br/>
                    <br/> 3. You are deemed to agree to the revised Terms and Conditions unless you express yourself after the Company clearly notifies or informs you as described above that you are deemed to be agreeing to any changes made if you do not give refusal no later than seven (7) days after the effective date of the revised version. If you do not agree to the revised terms for a Service, you may terminate your use of that Service in accordance with Paragraph 1, Article 12.
                </p>


                <span class="footer_title">Article 3. Additional Terms</span>
                <p>
                    Any matters not specified in these Terms and Conditions will be subject to relevant laws or individual terms and services of a
                    relevant Service, policies and rules that the Company may adopt from time to time (“Guiding Principles”). If there is a conflict
                    between these Terms and Conditions and the Guiding Principles, the Guiding Principles will control for that conflict.
                </p>

                <span class="footer_title">CHAPTER 2. Linking and Managing KAMPER Account and other services provided by KAMPER KOREA.</span>
                <span class="footer_title">ARTICLE 4. Creating and Linking KAMPER Account and KAMPER KOREA</span>
                <p>
                    1. A KAMPER Account is your email address. You may create your own KAMPER Account once you agree to the Terms and Conditions, register your email address as linking to KAMPER Account, and if needed, the Company may approve your account after verifying your email address.
                    <br/>
                    <br/>
                    2. You do not need necessarily need a KAMPER Account to use every services which KAMPER KOREA INCproviding but you may need a KAMPER Account for certain services.
                </p>

                <span class="footer_title">ARTICLE 5. Rejecting or Withholding Approval of Creating KAMPER Account</span>
                <p>
                    1. The Company may not approve of your creation of KAMPER Account and/or any other services providing KAMPER KOREA INC. if any of the following applies. Especially, if you are under 14 years old, you can create a KAMPER Account only if you have consent from your parents or legal guardian.
                </p>
                <ul>
                    <li>• If the Company had deleted your KAMPER Account or other associated services of KAMPER KOREA INC.</li>
                    <li>• If you have attempted to create a KAMPER Account or other associated services of KAMPER KOREA INC. by using third party’s name, email address or personal information</li>
                    <li>• If you did not enter required information or entered false information in the process of creating a KAMPER Account or other associated of KAMPER KOREA INC. or</li>
                    <li>• If you violate any applicable law or regulation, or additional terms or standards set by the Company.</li>
                </ul>

                <p> 2. If it is found that you have created a KAMPER Account and/or KAMPER KOREA INC. in violation of the above conditions, the Company may immediately stop providing Services to you, delete your KAMPER Account and other associated KAMPER KOREA INC. or place other appropriate restrictions.</p>
                <br/>

                <p>3. On the following occasions, the Company may withhold consent to creating your KAMPER Account and/or associated services of KAMPER KOREA INC.</p>

                <ul>
                    <li>• If there is no practical space in the installed capacity to provide Services</li>
                    <li>• If the Company finds it necessary for financial or technological causes.</li>

                </ul>

                <span class="footer_title">ARTICLE 6. Managing KAMPER Account or other associated account of KAMPER KOREA INC. </span>
                <p>
                    1. You should be the only person who signs in with your KAMPER Account and KAMPER KOREA INC and should never let others use them. You should manage your password by yourself so that others may not have unauthorized access to your KAMPER Account or other any accounts of KAMPER KOREA INC. If you learn of any unauthorized use, please contct the Customer Service and let us know. The Company will provide you with instructions to protect your account or ID from unauthorized access by others.
                    <br/><br/>
                    2. You may view and change your information using the Settings menu in Services. However, you may not be able to change some information like your KAMPER Account, other accounts of KAMPER KOREA INC, phone number and unique device identifiers required for us to provide and manage Services. If you want to update the information you provided us at the time of signing up for Services, you may change it directly on the Services or contact us via email or Customer Service.
                    <br/><br/>
                    3. The Company is not responsible for any losses resulting from failure to update information in Services.

                </p>
                <span class="footer_title">CHAPTER 3. Use of Service</span>

                <span class="footer_title">ARTICLE 7. Providing and Changing Various Services, etc.</span>
                <p>
                    1. The Company offers you various Services you can enjoy on the Internet or mobile devices, such as social networking service, online real estate booking service, used/new product sales, and location-based-services. You may download Services from application stores and install them on your smartphone, install Services on your personal computer or visit our website to use Services we offer. We kindly ask for your understanding that we have to send separate website to send separate notifications on the details of each Service, for this is to ensure immediate changes and improvements on our Services to meet your needs. Please feel free to view the detailed instructions for use of each Service that will be made available through the application store, website, or “Q&A” center for each Services, and applicable guidelines and notifications.
                    <br/><br/>
                    2. The Company grants you a personal, worldwide, non-assignable, non-exclusive and royalty-free license necessary for your use of the software provided to you by the Company as part of Services. Please do not forget, however, this does not grant you the right to use our trademark or logo.
                    <br/><br/>
                    3. The Company may provide you with updates of the software needed to use Services once a new feature is available or an unnecessary feature is removed. Please update the software or web-browser regularly so that you may use and enjoy the benefit of Services fully.
                    <br/><br/>
                    4. For quality services, the Company may send you service announcements, administrative messages, advertisements and other information related to your use of Services by email or post them on the Services.
                    <br/><br/>
                    5. If you encounter problems like system errors while using Services, please contact the Customer Service at any time.
                    <br/><br/>
                    6. If you choose to connect to a 4G/LTE network provided by your carrier when using KAMPER Services, please note that you may be charged additional data fees by your carrier. You will be responsible for any additional data charges incurred when using KAMPER Services. Please contact your carrier for further inquiries regarding your data plans.
                </p>

                <span class="footer_title">ARTICLE 8. How to Use Service and Things to be Careful of</span>
                <p>

                    1. You may freely use our Services, but please do not forget that you may not misuse them as follows:</p>
                <ul>
                    <li>• Don’t interfere with our Services or try to access them using a method other than the ones we provide or approve</li>
                    <li>• Don’t collect or use information of other Service users or provide it to any third party. You should not use Services for profit and send or post offensive, obscene or illegal content like information that infringes upon copyright.</li>
                    <li>• Don’t copy, modify, distribute, sell, transfer, lease, or pledge any part of our Services or included software, or allow any third party to use them without the Company’s consent. You should not reproduce, disassemble, duplicate or alter Services, nor may you reverse engineer or attempt to extract the source code of the software.</li>
                </ul>
                <br/>
                <p>
                    2. You may not assign, transfer or pledge the rights to use Services or any contracts with us.
                <p>
                    <br/>
                    3. If you do not comply with our terms or policies or applicable law, the Company may investigate your misconduct, suspend or stop providing Services to you, or restrict you from signing up again.

                <p> <br/>
                    4. If you do not have any record of signing in or accessing Services during the time period set by applicable laws, we may discard or store your information separately by sending email or SMS notifications to the address you registered with or using other effective means. If there is not enough necessary information as a result, you may not be eligible to use Services.

                </p>
                <span class="footer_title">ARTICLE 9. Proprietary Rights and Use of Copyrighted Materials</span>
                <p>
                    1. You may pose content(“Posts”) like photos, text, information, video, or comments or proposals on KAMPER Services, or the Company. Of course, the owner of the relevant Posts will continue to have ownership of copyrights and intellectual property rights.
                    <br/><br/>
                    2. When you upload a post on KAMPER or KAMPER Services, you expose content on both KAMPER and KAMPER KOREA INC. and, to the extent necessary, grant the Company a worldwide and permanent license to use, store, modify, reproduce, publicly transmit or display, or distribute such content. Such license continues even if you stop using Services or if you choose to unregister you KAMPER Account and/or any other services operated by KAMPER KOREA INC. That is, the rights you grant in this license are for the limited purpose of operating, improving and promoting Services and developing new ones. Some Services may offer you ways to access or remove content that you provided to that Service. Also, in some of our Service, there are setting that narrow the scope of our use of the content submitted in those Services.
                    <br/><br/>
                    3. Make sure you have the necessary rights to grant us this license for any content that you submit to our Services. The person who uploads the Posts is responsible for any issues arising out of not having such rights. Also, you may not submit or post offensive, obscene, violent or illegal content.
                    <br/><br/>
                    4. The Company may remove or refuse to display content that we believe violates our policies or the law. However, that does not necessarily mean that the Company has an obligation to monitor all the content. If you think somebody is violating your rights, you can let us know through the Customer Service.
                    <br/><br/>
                    5. Our Services may display some content that is not ours. This content is the sole responsibility of the one that makes it available. Using our Services does not give you any rights on content of other users. You may not use the content unless you obtain permission from its owner.


                </p>

                <span class="footer_title">ARTICLE 10. Using Paid Services</span>

                <p>

                    1. If you are using paid Services, you may use them after payments are made. We accept payment methods like credit card, bank transfer, deposit without a bankbook, prepaid electronic payment options, etc. Available payment methods may bary big paid Services. Payments will be automatically charged for Services billed every month unless you stop using the Service and send us a request to cancel automatic charges.
                    <br/><br/>
                    2. The Company may ask for more personal information necessary to proceed with the payment, and you should provide the Company with accurate information.
                    <br/><br/>
                    3. If you want to get a refund because you changed your mind or due to reasons attributable to you, check the relevant section below to see our refund policy. However, we do not give refunds if we restrict or stop your use of Service for violations of these Terms and Conditions.
                </p>

                <ul>
                    <li>• If customer opened a packet, and used an item</li>
                    <li>• If the paid Service is set to last for more than one (1) month from the date of purchase, refunds will be made after deducting the amount equivalent to the days of use from the date of termination as well as ten (10) percent of the amount worth the remaining days. If you request to discontinue using the Service within seven (7) days from the date you began its use, however, refunds will be made after deducting only the amount equivalent to the days of use from the date of termination.</li>
                </ul>
                <p>
                    4. In case of a wrong payment amount or a full refund, the Company should send a refund to your original payment method. If it is impossible to refund to the original payment method or partial refunds are required for the termination of a Service, the Company will make refunds in a manner it chooses at its discretion. The Company should refund within three (3) business days from the date refund obligations incurred and interest rate for overdue refunds will be set at an annual rate of 11 per cent. Please note that we do not pay interest for arrears if we need your support for refund and you caused the delay. If the refund is attributable to you, you may bear the cost incurred in refunds. If the refund is attributable to the Company, the Company will cover the cost.
                </p> <br/><br/>
                <p>
                    5. If there is a conflict between Paid Service Policy in these Terms and Conditions and Paid Services Policy of each Service, the latter will control for that conflict.

                </p>

                <span class="footer_title">ARTICLE 11. Using Modifying and Termination Services</span>
                <p>
                    1. The Company does it best to provide Service 24/7 all year around. However, we may temporarily stop our Services for regular or temporary inspection for maintenance, repair or for other reasons, and we will make sure to give you advance notice within Services on such occasions. If Services are unexpectedly suspended, the Company will make its utmost efforts to figure out the possible causes and restore Services as soon as possible.
                    <br/><br/>
                    2. We may modify functionalities or features of a Service, or suspend or stop a Service because the contract signed with a content provider for service provision is terminated or modified or a new service is launched. We will post notice of such modifications or terminations on the front page of Services or on the screen or the notice page in the applicable Service. We will make reasonable efforts to notify you individually of any modification or termination that materially affect your rights or obligations, by sending electronic messages or an email to the email address you use as a KAMPER Account or other related services of KAMPER KOREA INC., or through other similar mechanisms.

                </p>

                <span class="footer_title">ARTICLE 12. Termination the Use of Service</span>

                <p>
                    1. You may request for the termination of these Terms and Conditions at any time by using the menu provided in Services. The Company will take actions accordingly in a swift manner as required under the relevant laws and regulations.
                    <br/><br/>
                    2. Upon the termination of the Terms and Conditions, unless we are required to preserve your information under the relevant laws and/or the Privacy Policy, all the data such as your information or Posts will be deleted. If your Posts are clipped or shared by a third party using another sharing function or if you have added comments to Posts of a third party, such data will not be deleted, to the extent necessary, for other Service users.
                    <br/><br/>
                    3. Also, you may opt out of some of our various Services. In such a case, the data in relation to the discontinued Service will be deleted while your KAMPER Account and other related KAMPER KOREA Accounts will be left intact for use of other Services.
                    <br/><br/>
                    4. You may discontinue using paid Services after you ask for termination and the Company gives approval. Refunds will be made if there is remaining non-refunded amount. If there is a conflict between the provisions of each paid Service and these Terms and Conditions on ways and effects of discontinuing Services, the provisions of each Service will control for that conflict.
                    <br/><br/>
                    5. You may apply for using Services again even after you terminated Services. There may be a delay before the new state is reflected on some Services. Please see the Guiding Principles for detailed information.


                </p>
                <span class="footer_title">Article 13. Protecting Personal Information</span>
                <p>
                    Protecting your personal information safe is one of our top priorities. We use your personal information we collect only within the purposes and scope for which you consent is given to us to provide better services. Unless we get your consent or are otherwise permitted by law, the Company will never share you personal information with a third party, so please do not worry. To learn more about the efforts we make to keep your personal information private and safe, see <a href="">KAMPER privacy Policy</a>

                </p>

                <span class="footer_title">Article 14. Limitation of Liability, etc.</span>
                <p>
                    1. To the extent permitted by law, other than as expressly set out in these Terms and Conditions, the Company does not make any specific promises or give warranties. Also, the Company excludes all warranties regarding the credibility and accuracy of information, data and facts in Services provided by a content provider or posted by a user and is not liable for any loss or damage incurred to you as a result
                    <br/><br/>
                    2. The Company will indemnify you for any loss which has occurred as a result of our fault in compliance with these Terms and Conditions and relevant laws. However, the Company will not be liable for any loss or damage caused by any of the following, and to the extent permitted by law, the Company will not be responsible for indirect, special, consequent, exemplary, or punitive damages.
                <ul>
                    <li>• Losses due to natural disasters or acts of God;</li>
                    <li>• Service errors due to reasons attributable to you;</li>
                    <li>• Personal losses arising from the access to or use of Service;</li>
                    <li>• Losses due to an illegal access to or use of our server by a third party;</li>
                    <li>• Losses due to interference in transmission to or from our Server;</li>
                    <li>• Losses due to transmission or spread of malware by a third party;</li>
                    <li>• Damages arising from the use of Services by a third party including omissions, loss or destruction of transmitted data, or defamation, etc; or</li>
                    <li>• Other losses arising from acts of the Company that are not intentional or negligent</li>
                </ul>


                </p>

                <span class="footer_title">ARTICLE 15. Juvenile Protection</span>
                <p>
                    In order to protect adolescents from harmful content and support their safe use of Internet as a space where people of all ages can freely engage in, the Korean government enforces Juvenile Protection Policy under the Act on Promotion of Information and Communications Network Utilization and Information Protection, etc. Please refer to the front page of Services for more information.


                </p>

                <span class="footer_title">ARTICLE 16. Dispute Resolution</span>
                <p>

                    These Terms and Conditions or Services will be governed and implemented by the laws of the Republic of Korea. The Company will consult with you in good faith to resolve any disputes arising out of or relating to the use of Services. If unsettled, the case may be taken to the court to be determined pursuant to the Korean civil procedure law.


                </p>

                <br/><Br/><br/>
                <p>If you have any inquiries on Services feel free to contact our Customer Service(kamper@kamper.co.kr)
                </p>
                <p><hr/>

                <p>
                    <span class="footer_subheading"> THIS TRANSLATION IS PROVIDED JUST FOR YOUR REFERENCE AND IT IS NOT LEGALLY BINDING.</span>
                    <span class="footer_subheading"> FOR LEGAL BINDING YOU NEED TO READ THE KOREAN VERSION OF USER AGREEMENT.
                      <a href="{{ url_for('web_common.useragreement_kr') }}">Korean User Agreement</a>
                    </span>
                </p>

            </div>
        </div>

{% endblock %}

