//default 값


.form-wrap{
  padding-top:30px;
  text-align:center;
  .form-box{
    margin:auto;
    float:none;
  }
}

.contents-wrap{
  background-color: #fbfbfd;
}
@media (min-width:@screen-sm-min){
  .contents-wrap{
    padding-top:32px;
    overflow:auto;
    padding-bottom:70px;
  }

  .login-wrap{
    padding-top:100px;
  }
}

.right-sidebar{
  i{
    text-align:center;
    font-size:4.3em;
  }
  p{
    font-size:1em;
  }
  li{
    margin-bottom:30px;

  }
}
.divided-header{
  div{
    z-index:1;
  }
  .divided-title{
    z-index:2;
  }
  text-align:center;

}


/*** content-layout-1 ***/
// using the
// 1. simcard.html

.content-layout-1{
  .mt-60 {
    margin-top: 60px;
  }
  .mb-60 {
    margin-bottom: 60px;
  }
  .mt-120{
    margin-top:120px;
  }
  .mb-120{
    margin-bottom: 120px;
  }
  .content-header{
    padding-top:57px;
    margin:auto;
    text-align:center;
    h3{
      font-size:40px;
    }
  }
  .grey-page-1{
    background-color: #eee;
  }
  .grey-page-2{
    background-color: #f8f8f8;

  }

  #feather-1{
    margin-top: 30px;
  }
  @media (min-width: @screen-sm-min){
    .content{
      position: relative;
      display: table;
      margin-top:100px;
    }
  }
  .content{
    margin:auto;
  }
  .page-header{
    text-align:center;
  }



  .btn-pillow {
    padding-left: 25px;
    padding-right: 25px;

  }
  .btn-group{
    >:first-child{
      margin-right:10px;
    }
  }

  .icon {
    width: 32px;
    height: 32px;
    text-align: center;
    padding: 7px 8px;
    border: 2px solid;
    border-radius: 50%;
  }

  .pull-middle {
    display: table-cell;
    vertical-align: middle;
  }
}



/**** order layout ****/
.order-layout{

}


.divider {
  position: relative;
  border-bottom: 1px solid #f0f0f0;
  margin-bottom: 30px;
  margin-top: 30px;
}
.divider:before {
  position: absolute;
  width: 30px;
  height: 30px;
  border: 1px solid #f0f0f0;
  left: 50%;
  margin-left: -15px;
  top: 50%;
  background: #fff;
  margin-top: -15px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.divider:after {
  position: absolute;
  width: 20px;
  height: 20px;
  border: 1px solid #2ca5b9;
  left: 50%;
  margin-left: -10px;
  top: 50%;
  background: #2ca5b9;
  margin-top: -10px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.section-header{
  padding-left:5px;
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #eee;
  font-family:'Slabo 27px', serif;
}



// 이쪽 부분 wireless //

.content-layout-1{
  .wireless-header h3{
    padding-top:27px;
    margin:auto;
    text-align: center;

  }

}

.wireless-process-image{
  margin: 0 auto;
  position: relative;
}
.process-box{
  text-align: center;
  background: white;
  padding:3%;
}

.first-box{
  border-bottom: 1px solid #cccccc;
  padding:2%

}
.second-box{
  border-bottom: 1px solid #cccccc;
  padding:2%
}

.third-box{
  border-bottom: 1px solid #cccccc;
  padding:2%
}
//
//body{
//  font-family:'Raleway',sans-serif;
//}



@font-face{
font-family: Carter;
src:url(/static/kamper/fonts/CarterOne.ttf);
font-weight: bold;
}

.index-photo-title{
  //font-family:'Carter';
  //font-family:'Slabo 27px', serif;
}
.same-font{
  font-family:'Slabo 27px', serif;
}
.process-heading{
  font-family: 'Ubuntu', sans-serif;
  font-weight:700;

}

.index-photo-button{
  margin-top:3%;
  text-transform: none;
}


// 로그인
.security-heading{
  margin-top:9%;
  font-family: "Ubuntu";
}

.form-right-box{
  padding: 2%;
}